* {
  margin: 0px;
  padding: 0px; }
body{background:-webkit-linear-gradient(#8860D0,#5680E9,#5AB9EA);
background:-o-linear-gradient(#8860D0,#5680E9,#5AB9EA);
background:-moz-linear-gradient(#8860D0,#5680E9,#5AB9EA);
background:linear-gradient(#8860D0,#5680E9,#5AB9EA);



}
button {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 3px 3px 4px black;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #e7e7e7; color: black; 
    transition:transform , box-shadow 3s linear ;
}
input {
    width:35px;
    height:30px;
    text-align: center;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input:focus {
    border: 3px solid #555;
}
button:hover{
  transform: scale(.95);
  box-shadow: 1px 1px 1px black;
}

html{
  height:100vh;
  width:100vw;
}
#main {
  margin: auto;
  margin-top: 5vh;
  width: 90vmin;
  height: 90vmin;
  background-color: blue;
  border: solid black .3vmin; }

.a {
  float: left;
  width: 6vmin;
  height: 6vmin;
  position: static;
  overflow: hidden; }

button {
  margin: 5px; }

.class > div {
  position: absolute; }

#top > .a:nth-child(even) {
  background-color: green; }

#bottom > .a:nth-child(odd) {
  background-color: blue; }

#left > .diff > .a:nth-child(even) {
  background-color: red; }

#left > .diff + div > .a:nth-child(odd) {
  background-color: red; }

#right > .diff + div > .a:nth-child(even) {
  background-color: yellow; }

#right > .diff > .a:nth-child(odd) {
  background-color: yellow; }

#main > div {
  float: left; }

.circle, #sw > div > div > div, #nw > div > div > div, #ne > div > div > div, #se > div > div > div {
  box-sizing: border-box;
  text-align: center;
  padding: .5vmin;
    font-size: 2.5vmin;

  margin: auto;
  margin-top: 20%;
  background-color: black;
  border-radius: 50%;
  height: 60%;
  width: 60%;
  box-shadow: 2px 2px 4px black;
  border: 2px solid black; }

#sw, #nw, #ne, #se {
  width: 36vmin;
  height: 36vmin;
  box-sizing: border-box;
  border: black solid .3vmin; }

#sw > div > div > div, #nw > div > div > div, #ne > div > div > div, #se > div > div > div {
  margin-top: 12%; }

#sw > div > div, #nw > div > div, #ne > div > div, #se > div > div {
  float: left;
  width: 6.5vmin;
  height: 6.5vmin;
  margin: 3.6vmin 3.6vmin 3.6vmin; }

#sw > div, #nw > div, #ne > div, #se > div {
  box-sizing: border-box;
  border: black solid .3vmin; }

#sw, #sw > div > div, #sw > div > div > div {
  background-color: red; }

#nw, #nw > div > div, #nw > div > div > div {
  background-color: green; }

#se, #se > div > div > div, #se > div > div {
  background-color: blue; }

#ne, #ne > div > div, #ne > div > div > div {
  background-color: yellow; }

#cen {
  width: 18vmin;
  height: 18vmin;
  background-color: white;
  background: white;
  line-height:18vmin ;
  box-sizing:border-box;
  padding:7vmin 0px ;
  font:italic bold 4vmin serif;
  text-align:center;
  background-size: cover; }

#top {
  width: 18vmin;
  height: 36vmin;
  background-color: white; }

#bottom {
  width: 18vmin;
  height: 36vmin;
  background-color: white; }

#right {
  height: 18vmin;
  width: 36vmin;
  background-color: white; }

#left {
  height: 18vmin;
  width: 36vmin;
  background-color: white; }

/*# sourceMappingURL=ludo.css.map */
